
h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat";
}

h2 {
  font-family: "Montserrat";
  font-weight: lighter;
  font-size: 3rem;
  line-height: 1.5;
}

h3 {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 1.5rem;
}

body {
  font-family: "Montserrat";
}

p {
  color: #8F8F8F;
}

.big-heading {
  font-family: "Montserrat";
  font-size: 3.5rem;
  line-height: 1.5;
}

.colored-section {
  font-family: "Montserrat";
}

.white-section {
  background-color: #fff;
}

.container-fluid {
  padding: 3% 15% 3%;
  /*when we use three elements top / left and right / buttom */
}

/* Title Image */
.title-image {
  transform: rotate(25deg);
  width: 60%;
  position: absolute;
  right: 30%;
}

/* Navigation Bar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: "Montserrat";
}

/* Download Buttons */
.download-button {
  margin: 5% 3% 5% 0%;
}

/* Features Image styles */
.features-icons {
  width: 100%;
}

.features-box {
  text-align: center;
  padding: 5%;
}

.fa-styles {
  color: #ef8172;
  padding-bottom: 1rem;
  margin
}

.fa-footer-styles {
  color: #000;
  padding-bottom: 1rem;
}

/* Hover float shadow effect */
.hvr-float-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.hvr-float-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  /* W3C */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}

.hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  /* move the element up by 5px */
}

.hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}

/* Icon Hover effect  */
.fa-styles:hover {
  color: #FE3C72;
}

/* Testimonials Section */
#testimonials {
  text-align: center;
  background-color: #EF8172;
  color: #FFF;
}

.carousel-item {
  padding: 7% 15%;
}

.testimonial-img {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
  /* one number margin is all around 20px in that case. */
}

/* Press Section */
#press {
  background-color: #EF8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-img {
  width: 13%;
  margin: 20px 20px 50px;
}

/* Pricing Section  */
.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

#pricing {
  text-align: center;
  padding: 100px;
  font-family: "Montserrat";
}

.pricing-column {
  padding: 3% 2%;
}

/* in case the site is being watched from a smaller screen such as mobile */
@media (max-width: 1028px) {
  .title-image {
    transform: rotate(0);
    position: static;
  }

  #title {
    text-align: center;
  }
}


/* Call To Action Section */

#cta {
    background-color: #FE3C72;
    color: #FFF;
    padding: 7% 15%;
}

.cta-heading {
  font-family: "Montserrat";
  font-weight: bolder;
}

.call-to-action {
  padding-top: 60px;
  text-align: center;
  color: #FFF;
}

/* Footer Section */
.footer-icons {
  margin: 20px 10px;
}
.footer-box {
  padding-top: 100px;
}

#title {
  background-color: #FE3C72;
  color: #FFF;
}

#features {
  background-color: #FFF;
  z-index: 1;
  position: relative;
  /* keeps it in the html flow */
}

#footer {
  padding: 7% 15%;
  text-align: center;

}
